---
const targetPath = '/es/';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0;url=${targetPath}`} />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="canonical" href="https://instalberrozpe.com/" />
    <link rel="alternate" hreflang="es" href="https://instalberrozpe.com/es/" />
    <link rel="alternate" hreflang="ca" href="https://instalberrozpe.com/ca/" />
    <link rel="alternate" hreflang="en" href="https://instalberrozpe.com/en/" />
    <link rel="alternate" hreflang="de" href="https://instalberrozpe.com/de/" />
    <link rel="alternate" hreflang="x-default" href="https://instalberrozpe.com/es/" />
    <title>Instal Berrozpe</title>
  </head>
  <body>
    <p><a href={targetPath}>Continuar a la versión española</a></p>
  </body>
</html>
